.header-nav-container{
    width: 100vw;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2d2d2d;
}
.div-nav-container{
    width: 80vw;
    padding-top: 35px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-nav{
    display: flex;
    list-style: none;
}
.nav-logo{
    width: 70px;
}
.nav-logo::selection{
    background-color: transparent;
}